<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobdeve.gonzales.lee.ong.artemis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/chibi_square_rounded"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/chibi_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.Artemis">

        <activity android:name=".AccountManagementActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".BrowseOwnPosts"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ViewHighlightsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".EditProfileActivity"
            android:parentActivityName=".ViewProfileActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ViewProfileActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".ViewUserActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".BrowseFeedFollowedActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".SearchResultsActivity"
            android:parentActivityName=".SearchActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".SearchActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".ViewPostUnregisteredActivity"
            android:parentActivityName=".BrowseFeedUnregisteredActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".ViewCommentsUnregisteredActivity"
            android:parentActivityName=".ViewPostUnregisteredActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".BrowseFeedUnregisteredActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".LogInActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".ViewBookmarkActivity"
            android:parentActivityName=".BrowseBookmarksActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".BrowseBookmarksActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".EditCommentActivity"
            android:parentActivityName=".ViewCommentsActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".ViewCommentsActivity"
            android:parentActivityName=".ViewPostActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".ViewPostActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".BrowseFeedActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".BrowseFeedActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".AddProfileSuccessActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".AddProfileBioActivity"
            android:parentActivityName=".AddProfilePictureActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".AddProfilePictureActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".SignUpActivity"
            android:label="Create Account"
            android:parentActivityName=".LogInActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".LogInActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>