<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobdeve.gonzales.lee.ong.artemis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/chibi_square_rounded"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/chibi_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.Artemis">
        <activity android:name=".ViewPostActivity"></activity>
        <activity android:name=".BrowseFeedActivity" />
        <activity
            android:name=".AddProfileSuccessActivity"
            android:parentActivityName=".AddProfileBioActivity" />
        <activity
            android:name=".AddProfileBioActivity"
            android:parentActivityName=".AddProfilePictureActivity" />
        <activity android:name=".AddProfilePictureActivity" />
        <activity
            android:name=".SignUpActivity"
            android:label="Create Account"
            android:parentActivityName=".LogInActivity" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>