<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobdeve.gonzales.lee.ong.artemis">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <provider android:authorities="com.facebook.katana.provider.PlatformProvider" />

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/chibi_square_rounded"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/chibi_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.Artemis">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mobdeve.gonzales.lee.ong.artemis"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>


        <activity android:name=".EditBioActivity"
            android:parentActivityName=".EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ViewOwnPostCommentsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".BrokenLinkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditPasswordActivity"
            android:parentActivityName=".EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditEmailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchResultsUnregisteredActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".SearchUnregisteredActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SearchUnregisteredActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewUserUnregisteredActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewOthersHighlightUnregisteredActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".ViewUserUnregisteredActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewOwnPostActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".BrowseOwnPostsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostAddTagsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".PostArtworkActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ViewOwnHighlightActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".BrowseOwnHighlightsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewOthersHighlightActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".ViewUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditPostActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".BrowseOwnPostsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ViewPostFollowedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:parentActivityName=".BrowseFeedFollowedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewCommentsFollowedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".ViewPostFollowedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostArtworkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AccountManagementActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".ViewProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BrowseOwnPostsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:parentActivityName=".ViewProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BrowseOwnHighlightsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:parentActivityName=".ViewProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ViewProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ViewProfileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewUserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BrowseFeedFollowedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchResultsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewPostUnregisteredActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:parentActivityName=".BrowseFeedUnregisteredActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewCommentsUnregisteredActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".ViewPostUnregisteredActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BrowseFeedUnregisteredActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:parentActivityName=".LogInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewBookmarkActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".BrowseBookmarksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BrowseBookmarksActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditCommentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".ViewCommentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ViewCommentsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".ViewPostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ViewPostActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BrowseFeedActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddProfileSuccessActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddProfileBioActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".AddProfilePictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddProfilePictureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".BrowseFeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Create Account"
            android:parentActivityName=".LogInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LogInActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider453277879102504"
            android:exported="true" />
    </application>

</manifest>